h1 {
    color: black;
    font-weight:700;
    font-size: x-large;
    font-family: fantasy;
}
body {
    background-color: lightsteelblue;
}
p {
    font-family: fantasy;
}
h2 {
    color: darkslateblue;
}
